[submodule "languages"]
	path = languages
	url = git@github.com:Ricimon/reminder-bot-languages
[submodule "postman-rs"]
	path = postman-rs
	url = git@github.com:Ricimon/reminder-bot-postman
[submodule "docker/wait-for-it"]
	path = docker/wait-for-it
	url = https://github.com/vishnubob/wait-for-it
